@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;

body {
  width: 1366px;
  height: 768px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: rgb(223 , 223 , 211);
}

#title {
  font-weight: 400;
}

.container-functions {
  left: 0 auto;
  margin-top: 10px;
}

#texto-tarefa {
  width: 421px;
}

.task {
  width: 400px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  list-style: none;
  margin-bottom: 3px;
}

.completed {
  text-decoration: line-through solid black;
}

button {
  border-style: none;
  border-radius: 5px;
  padding: 5px;
}

#mover-cima {
  width: 50px;
  font-weight: 900;
  color: green;
}

#mover-baixo {
  width: 50px;
  color: red;
}
